.app{
  display: flex;
  background-color: black;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  
}
.header {
  display: flex;
  margin-left: 0;
  color: hotpink;
  background-color: black;
  font-size: 30px;
  flex-direction: column;
  padding-left: 20px;
  height: 100vh;
  width: 210px;
  text-decoration: none;
  position: fixed;
}
.header-icon {
  display: none;
  flex-grow: 3;
  text-decoration: none;
  margin-top: 25px;
  margin-bottom: 37px;
  margin-left: -5px;
  padding: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 14px;
  border-radius: 40px;
  text-align: center;
}
.header-icon:hover {
  cursor: pointer;
}
.header-icon:hover {
  color: white;
  background-color: rgb(19, 19, 19);
}
.header-logo {
  display: flex;
  text-decoration: none;
  margin-left: 10px;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}
.header-links {
  display: flex;
  text-decoration: none;
  row-gap: 15px;  
  flex-direction: column;
  flex-grow: 2;
  margin-left: px;
  height: 99%;
  width: 100%;
}
.link{
  display:flex;
  align-items: center;
  color: hotpink;
  background-color: black;
  border: 1px solid black;
  text-align: left;
  left: 0;
  padding-top: 6px;
  padding-bottom: 8px;
  margin-right: 3px;
  border-radius: 26px;
  margin-left: -2px;
}
.hamburgerr {
  position: absolute;
  bottom: 6%;
  width: 200px;
  height: 0%;
}

.words{
  font-size: 17px;
  margin-left: 10px;
}
.emoji {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 28px;
  margin-left: 10px;
}
.link:hover{
  color: white;
  background-color: rgb(19, 19, 19);
  transition-duration: 200ms;
  cursor: pointer;
}
.header-logo:hover {
  cursor: pointer;
}
.profile-circle {
  width: 22px;
  height: 22px;
  border-radius: 20px;
  border: 1px solid hotpink;
  margin-left: 13px;
  margin-top: 4px;
  transform: translateY(-2px)
}
.profile-circle:hover {
  color: white;
}
.header2 {
  display: none;
  height: 60px;
  font-size: 22px;
  color: hotpink;
  align-items: center;
  margin-left: 0px;
  background-color: black;
  justify-content: space-around;
}
.search {
  padding: 0 16px;
  display: flex;
  background-color: rgb(34, 34, 34);
  border: 1px solid rgb(34, 34, 34);
  justify-content: flex-end;
  font-size: 17px;
  margin: 0 25px 0 110px;
  width: 240px; height: 60%;
  border-radius: 8px;
}
.heart {
  display: flex;
  justify-self: flex-end;
  margin-right: 10px;
  font-size: 30px;
}
.heart:hover {
  cursor: pointer;
  transition: .2s cubic-bezier(.17,.67,.83,.67);
  color: rgb(249, 109, 109);
}
.logo:hover {
  cursor: pointer;
  font-style: italic;
  transition-duration: 200ms;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hotpink;
  border-left: 1px solid rgb(33, 33, 33);
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
}
.footer {
  display: flex;
  color: hotpink;
  width: 370px; height: 100%;
  background-color: rgb(0, 0, 0);

  padding-right: 30px;
}
.footer2 {
  display: none;
  align-items: flex-end;
  row-gap: 20px;
  height: 50px;
  justify-content: space-evenly;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.plus {
  transform: translateY(3px);
}


.homepost{
  display: block;
  position: relative;
  height: 570px;
  width: 500px;
  background-color: hotpink;
  border: 4px solid rgb(33, 33, 33);
}
.homeImage{
  margin-top: 0px;
  height: 500px;
  width: 500px;
}
.poster{
  position:relative;
  color: white;
  font-size: 20px;
  text-decoration: none;
  top: -2%;
  left: 10px;
}
.home-post-caption{
  position: relative;
  font-size: 17px;
  color: white;
  top: -2%;
  left: px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.caplink{
  color: black;
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
  
}
.caplink:hover{
  font-weight: bold;
}

.poster:hover {
  color: blue;
  transition-duration: 200ms;
}
.profile {
  margin: 0 0 0 210px
}


@media screen and (max-width: 1340px) {
  .header-icon {display: flex;}
  .header {width: 50px; align-items: start;}
  .emoji{font-size: 26px; margin-left: 8px; margin-top: 2px;}
  .profile-circle{margin-left: 9.4px; margin-top: 8px;}
  .link {width: 43px; height: 32px; margin-left: -6px; padding-top: 3px; border-radius: 42px; align-items: center;} 
  .plus {margin-left: -2px;}
  .header-logo {display: none;}
  .words {display: none;}
  .profile {margin: 0 0 0 50px}
}
@media screen and (max-width: 1050px) {
  .footer {display: none;}
}
@media screen and (max-width: 770px) {
  .header {display: none;}
  .header2 {display: flex;}
  .app {flex-direction: column;}
  .footer2 {display: flex; z-index: 100}
  .profile {margin: 0 auto}
}
@media screen and (max-width: 634px) {
  .logo {
    font-size: 16px;
    width: 160px;
    margin-left: 10px;
  }
  .heart {
    margin-right: 20px;
  }
  .app {
    column-count: 1;
    width: 100%;
  }
}
@media screen and (max-width: 414px) {
  .search{
    display: none;
  }
  .logo{
    margin-left: 0px;
  }
  .heart{
    margin-right: 0px;
  }
  .app{
    width: 102.2vw;
    height: 100.2vh;
    margin: 0;
  }
}

@media screen and (max-width : 400px) {
  .search {
    display: none;
  }
  .app{
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
}
@media screen and (max-width: 390px) {
  .app {
    height: 98.2vh;
  }
} 
@media screen and (max-width: 360px) {
  .app {
    height: 100vh;
  }
}