
.login-sinup {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    height: 300px;
    width: 87%;
    border: 1px solid rgb(33, 33, 33);
    border-radius: 34px;
    padding: 10px;
}
.login-text {
    font-size: 30px;
    margin: 22px 0;
}
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px;
    border-radius: 20px;
    border: 1px solid rgb(33, 33, 33);
}
.login:hover {
    background-color: rgb(11, 11, 11);
    transition-duration: 200ms;
    cursor: pointer;
}
.modal {
    width: 400px;
    height: 400px;
    column-gap: 20px;
    margin: 0 auto;
}
.post-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-content {
    margin: 20px;
}
.modal-input{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 16px;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: 1px solid rgb(33, 33, 33);
}
.modal-header {
    text-align: center;
}
.image-div {
    width: 35vmax;
    height: 35vmax;
}
.modal-image {
    width: 100%;
    height: 100%;
}
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: black;
    color: white;
    border: 2px solid rgb(33, 33, 33);
    border-radius: 7px;
}
.footer-circle {
    width: 23px;
    height: 23px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: 1px solid white;
}
.icons {
    margin-bottom: 8px;
    color: white;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    font-size: 26px;
    border-radius: 20px;
  }
.footer-icons{
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }
.icons:hover {
    transform: translateY(-4px)
}