.body {
    background-color: hotpink;
    width: 100vw; height: 100vh;
    margin: 0 0 0 50px;
    padding: 30px 10px 0;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
}

.user-setting {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-post {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(295, 295, 295);
    margin: 20px 10vw 0px 10vw;
    height: 52px;
}

.tab {
    margin: 0px 30px;
}

/* later when we generate post */
.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.post {
    display: block;
    position: relative;
    width: 10em;
    height: 10em;
    margin: 5px;
}
