.register{
    background-color: hotpink;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

}
.login{
    background-color: hotpink;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.login:hover {
    background-color: hotpink;
  }

.haveAccount{
    width:225.73px
}

.registerTitle{
    color: black;
    text-align: center;
}
@media print {
    .header, .footer {display: none !important;}
}